<table>
    <tbody>
        <% book.book_comments.each do |book_comment| %>
        <tr>
            <td>
                <%= link_to user_path(book_comment.user) do %>
                    <%= image_tag book_comment.user.get_profile_image, size: "100x100" %><br>
                    <%= book_comment.user.name %>
                <% end %>
            </td>
            <tb><%= book_comment.comment %></tb>
            <tb>
                <% if book_comment.user == current_user %>
                    <%= link_to "Destroy", book_book_comment_path(Book, book_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger pill-right" %>
                <% end %>
            </tb>
        </tr>
        <% end %>
    </tbody>
</table>